.menu {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 14rem;
	padding: 2px;
	background-color: white;
	border: 1px solid #aeaeae;
	border-radius: 7px;
	transform-origin: top left;
	z-index: 100;

	&>* {
		padding: 0.4rem;
	}

	&>*:first-child {
		border-radius: 6px 6px 0 0;
	}

	&>*:last-child {
		border-radius: 0 0 6px 6px;
	}

	&>button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-family: inherit;
		font-size: 13px;
		color: black;
		background-color: transparent;
		border: none;
		margin: 0;
		cursor: pointer;
		transition: all 0.1s ease;

		.label {
			display: flex;
			justify-content: center;
			align-items: center;

			&>:first-child {
				margin-right: 0.4rem;
				font-size: 15px;

				&.iconHidden {
					visibility: hidden;
				}
			}
		}

		.hotKey {
			font-size: 10px;
			color: #1f1f1f;
			background-color: #efefef;
			padding: 3px 5px;
			border: 1px solid #aeaeae;
			border-radius: 4px;
		}

		&:hover {
			background-color: #efefef;
		}

		&:last-of-type {
			border-top: 1px solid #aeaeae;
		}
	}

	.colorsSelector {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.6rem;
		border-top: 1px solid #aeaeae;
		padding: 0.7rem;

		.radioLabel {
			position: relative;

			&>input {
				visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;

				&:checked {
					&~.customRadio {
						outline: 2px solid;
					}
				}
			}

			.customRadio {
				width: 1.2rem;
				height: 1.2rem;
				display: block;
				border: 2px solid white;
				border-radius: 100%;

				&:hover {
					outline: 1px solid;
				}
			}
		}
	}

	&.top-left {
		transform-origin: top left;
	}

	&.top-right {
		transform-origin: top right;
	}

	&.bottom-left {
		transform-origin: bottom left;
	}

	&.bottom-right {
		transform-origin: bottom right;
	}
}