* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	overflow-x: hidden;
	position: relative;
	font-family: Geist;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}